body {
	margin: 0 auto;
	font-family: 'Open Sans', sans-serif;
}

<<<<<<< HEAD
=======
/* MAIN HEADER IMAGE */

>>>>>>> master
.main-header {
	background: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.6)), url('http://i.imgur.com/rFb0kbC.jpg') no-repeat center;
	height: 300px;
	opacity: 0.8;
	text-align: center;
}

.main-header-text {

	color: #fff;
	text-align: center;
	position: absolute;
	top: 50px;
	left: 20%;
	line-height: 1.4em;
	font-size: 3.8em;
	letter-spacing: 0.4em;
	text-shadow: 1px 1px #3D3D3D;
	font-weight: bold;
}

/* NAV BAR */


nav {
	 background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.95));
	 width: 100%;
	 padding: 0.5% 0;
}

nav ul li {
	list-style: none;
	display: inline;
}

nav a {
	text-decoration: none;
	color: #E5E5E5;
	padding: 0 5% 0 0;
	letter-spacing: 0.1em;
	font-weight: lighter;
}

nav a:hover {
	font-weight: normal;
}

<<<<<<< HEAD

.productCard {
	display: inline-block;
	width: 30%;
	margin: 10px 1%;
	border: solid red 2px;
}


.totalBox {
	border: solid black 2px;
}







=======
/* MAIN PAGE CONTENTS */

.master-container {
	margin: 2% auto;
	width: 75%;
}

.main-page-img {
	float: left;
	display: inline-block;
}

.main-page-img:hover {
	background-color: rgba(236, 201, 180, 0.2);
}

.main-page-img img {
 	width: 35%;
 	height: 220px;
	padding-left: 5%;
	margin: 5% 0 1% 0;
}

.main-page-text {
	font-family: 'Petit Formal Script', cursive;
	float: right;
	margin: -20% 10% 0 -10%;
	width: 30%;
	font-size: 3em;
	display: inline-block;
}

/* BODY FOR ABOUT, CONTACT */

h2 {
	font-weight: normal;
	margin: 5% 0;
}

.body-container {
	margin: 2% auto; 
	width: 60%;
	font-weight: lighter;
	line-height: 1.75em;
}

.employee-name {
	font-size: 1.5em;
	font-weight: lighter;
	text-align: center;
}

.headshot {
	width: 400px;
}

.contact-info {
	margin: 5% 0;
	text-align: center;
}

#contact-img {
	opacity: 0.9;
	width: 100%;
	box-shadow: 12px 20px 60px 0px rgba(0, 0, 0, 0.7);
}


